// Regular Weight
@font-face {
  font-family: "soul";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Red Hat Text"),
    url("../assets/fonts/static/red-hat-text-regular.woff2") format("woff2"),
    url("../assets/fonts/static/red-hat-text-regular.woff") format("woff"),
    url("../assets/fonts/static/red-hat-text-regular.ttf") format("truetype")
      url("../assets/fonts/static/red-hat-text-regular.eot");
}

// Semi Bold Weight
@font-face {
  font-family: "soul";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../assets/fonts/static/red-hat-text-semi-bold.woff2")
      format("woff2"),
    url("../assets/fonts/static/red-hat-text-semi-bold.woff") format("woff"),
    url("../assets/fonts/static/red-hat-text-semi-bold.ttf") format("truetype")
      url("../assets/fonts/static/red-hat-text-semi-bold.eot");
}

// Bold Weight
@font-face {
  font-family: "soul";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../assets/fonts/static/red-hat-text-bold.ttf") format("woff2"),
    url("../assets/fonts/static/red-hat-text-bold.ttf.woff") format("woff"),
    url("../assets/fonts/static/red-hat-text-bold.ttf.ttf") format("truetype")
      url("../assets/fonts/static/red-hat-text-bold.ttf.eot");
}
